body
{
	color: white;
	background-color: black;
	font-family: tahoma;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 17px;
	margin-bottom: 17px;
}
header,footer
{
	text-align: center;
}	
nav
{ 
	float: left;
	word-spacing: 2em;
}
a
{
	color: red;
	text-decoration: none;
}
Figcaption
{
	font-style: italic;
}

Figure
{
	text-align: center;
}
header
{
	padding-top:50px;
}
